.about-image {
    display: block;
    width: 128px;
    max-width: 100%;
    height: auto;

    padding-top: 100%;

    border-radius: 50%;

    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;

    background-size: cover;
}

#main-images-carousel, .carousel-inner {
    height: 340px;
}


.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

