.about-page {
    text-align: center;
}

.about-image {
    display: block;
    width: 160px;
    max-width: 100%;
    height: 160px;

    border-radius: 50%;

    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;

    background-size: cover;
    margin: 0 auto;
}

.bio ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
}

#main-images-carousel, .carousel-inner {
    height: 340px;
}


.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

