{% extends "skeleton.html" %}
{% block title %}About{% endblock %}
{% block content %}
<div class="row marketing">
    <div class="col-lg-6">
        <h4>Matthew Laux</h4>
        <img src="{{url_for('static', filename='matt.jpg')}}" class="about-image">
        <ul>
            <li>Major Responsibilities: setting up the VPS, sysadmin/ops work, creating bootstrap template</li>
            <li>Commits: 21</li>
            <li>Issues: 15</li>
            <li>Unit Tests: 0</li>
        </ul>

        <h4>Chester Omenukor</h4>
        <img src="{{url_for('static', filename='chester.jpg')}}" class="about-image">
        <ul>
            <li>Major Responsibilities: </li>
            <li>Commits: </li>
            <li>Issues: </li>
            <li>Unit Tests: </li>
        </ul>

        <h4>Kevin Ong</h4>
        <img src="{{url_for('static', filename='kevin.jpg')}}" class="about-image">
        <ul>
            <li>Major Responsibilities: Technical Writeup</li>
            <li>Commits: 0</li>
            <li>Issues: 0</li>
            <li>Unit Tests: 0</li>
        </ul>
    </div>

    <div class="col-lg-6">
        <h4>Braden Stotmeister</h4>
        <img src="{{url_for('static', filename='braden.jpg')}}" class="about-image">
        <ul>
            <li>Major Responsibilities: Proofing techincal document and verifying website information, registering website </li>
            <li>Commits: 2</li>
            <li>Issues: </li>
            <li>Unit Tests: </li>
        </ul>

        <h4>Jeffrey Taube</h4>
        <img src="{{url_for('static', filename='jeff.jpg')}}" class="about-image">
        <ul>
            <li>Major Responsibilities: Updating wiki page and google doc.</li>
            <li>Commits: 3</li>
            <li>Issues: 0</li>
            <li>Unit Tests: 0</li>
        </ul>

        <h4>Asad Valliani</h4>
        <img src="{{url_for('static', filename='asad.jpg')}}" class="about-image">
        <ul>
            <li>Major Responsibilities: creating tables for the models, writing unit tests for models.py, contributing to the technical document, website design</li>
            <li>Commits: 8</li>
            <li>Issues: 0</li>
            <li>Unit Tests: 12</li>
        </ul>
    </div>

    <div class="col-lg-12">
        <h3>Stats</h3>
        <ul>
            <li>Total Number of Commits: ~60</li>
            <li>Total Number of Issues: 15</li>
            <li>Total Number of Unit Tests: 12</li>
            <li><a href="http://docs.itstimetoduel.apiary.io/">Apiary API</a></li>
            <li><a href="https://github.com/mlaux/cs373-idb/wiki">Github Issue Tracker</a></li>
            <li><a href="https://github.com/mlaux/cs373-idb/issues">GitHub Repo</a></li>
            <li><a href="https://github.com/mlaux/cs373-idb/">Github Wiki</a></li>
        </ul>
    </div>

    <div class="col-lg-12">
        <h3>Data</h3>
        <ul>
            <li>
                <h4>Data Source</h4>
                <p><a href="http://yugiohprices.com/">Yu-Gi-Oh Prices</a></p>
            </li>
        </ul>
    </div>

    <div class="col-lg-12">
        <h3>Tools</h3>
        <ul>
            <li><a href="http://flask.pocoo.org/">Flask</a></li>
            <li><a href="https://www.digitalocean.com/">Digital Ocean</a></li>
            <li><a href="https://slack.com/">Slack</a></li>
        </ul>
    </div>
</div>

{% endblock %}
