{% extends "skeleton.html" %}
{% block title %}About{% endblock %}
{% block content %}
<div class="row marketing">
    <div class="col-lg-6">
        <h4>Matthew Laux</h4>
        <img src="{{url_for('static', filename='matt.jpg')}}" class="about-image">
        <ul>
          <p>Major Responsibilities: </p>
          <p>Commits: </p>
          <p>Issues: </p>
          <p>Unit Tests: </p>
        </ul>

        <h4>Chester Omenukor</h4>
        <img src="{{url_for('static', filename='chester.jpg')}}" class="about-image">
        <ul>
            <li>Major Responsibilities: </li>
            <li>Commits: </li>
            <li>Issues: </li>
            <li>Unit Tests: </li>
        </ul>

        <h4>Kevin Ong</h4>
        <img src="{{url_for('static', filename='kevin.jpg')}}" class="about-image">
        <ul>
            <li>Major Responsibilities: </li>
            <li>Commits: </li>
            <li>Issues: </li>
            <li>Unit Tests: </li>
        </ul>
    </div>

    <div class="col-lg-6">
        <h4>Braden Stotmeister</h4>
        <img src="{{url_for('static', filename='braden.jpg')}}" class="about-image">
        <ul>
            <li>Major Responsibilities: </li>
            <li>Commits: </li>
            <li>Issues: </li>
            <li>Unit Tests: </li>
        </ul>

        <h4>Jeffrey Taube</h4>
        <img src="{{url_for('static', filename='jeff.jpg')}}" class="about-image">
        <ul>
            <li>Major Responsibilities: </li>
            <li>Commits: </li>
            <li>Issues: </li>
            <li>Unit Tests: </li>
        </ul>

        <h4>Asad Valliani</h4>
        <img src="{{url_for('static', filename='asad.jpg')}}" class="about-image">
        <ul>
            <li>Major Responsibilities: </li>
            <li>Commits: </li>
            <li>Issues: </li>
            <li>Unit Tests: </li>
        </ul>
    </div>

    <div class="col-lg-12">
        <h3>Stats</h3>
        <ul>
            <li>Total Number of Commits: </li>
            <li>Total Number of Issues: </li>
            <li>Total Number of Unit Tests: </li>
            <li href="#">Apiary API</li>
            <li href="#">Github Issue Tracker</li>
            <li href="#">GitHub Repo</li>
            <li href="#">Github Wiki</li>
        </ul>
    </div>

    <div class="col-lg-12">
        <h3>Data</h3>
        <ul>
            <li>
                <h4>Data Source</h4>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </li>
        </ul>
    </div>

    <div class="col-lg-12">
        <h3>Tools</h3>
        <ul>
            <li>Flask</li>
            <li>Digital Ocean</li>
            <li>Slack</li>
        </ul>
    </div>
</div>

{% endblock %}
