{% extends "skeleton.html" %}
{% block title %}Card Types{% endblock %}
{% block content %}
<table class="table table-hover">
    <tr>
        <th>Card Image</th>
        <th>Information</th>
    </tr>
    <tr>
        <td><img src="{{url_for('static', filename='card_images')}}/{{card_data[4]}}.jpg" class="card-image"></td>
        <td>
            <table style="font-family: Rockwell" border="2" width="100%">
                <tr><th>Name: </th><th>{{card_data[4]}}</th></tr>
                <tr><th>Text: </th><th>{{card_data[5]}}</th></tr>
                <tr><th>Card Type:    </th><th>{{card_data[6]}}</th></tr>
                <tr><th>Subtype: </th><th>{{card_data[7]}}</th></tr>
                <tr><th>Family: </th><td>{{card_data[8]}}</td></tr>
                <tr><th>Attack: </th><th>{{card_data[9]}}</th></tr>
                <tr><th>Defence: </th><th>{{card_data[10]}}</th></tr>
                <tr><th>Level: </th><th>{{card_data[11]}}</th></tr>
                <tr><th>Price: </th><th>{{card_data[12]}}</th></tr>
            </table>
        </td>
    </tr>
</table>

<br><br>
<table class="table table-hover" id="card_table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Type</th>
        <th>Subtype</th>
        <th>Family</th>
    </tr>
</table>

<script>
        var result = {{result|safe}};
        var table = document.getElementById("card_table");
        var i = 0;
        for (var item in result) {
            var row = document.createElement("tr");
            var cardid = document.createElement("td");
            var cardname = document.createElement("td");
            var type1 = document.createElement("td");
            var subtype = document.createElement("td");
            var family = document.createElement("td");
            var cardlink= document.createElement("a");
            cardlink.href="/cards/"+result[i][0];
            cardname.appendChild(cardlink);
            row.appendChild(cardid);
            row.appendChild(cardname);
            row.appendChild(type1);
            row.appendChild(subtype);
            row.appendChild(family);
            table.appendChild(row);
            cardid.innerHTML = result[i][0];
            cardlink.innerHTML = result[i][4];
            type1.innerHTML = result[i][6];
            subtype.innerHTML = result[i][7];
            family.innerHTML = result[i][8];
            i+=1;
        }
</script>
{% endblock %}
