{% extends "skeleton.html" %}
{% block title %}Cards{% endblock %}
{% block content %}
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Image</th>
        <th>Type</th>
        <th>Subtype</th>
        <th>Family</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Jinzo</td>
        <td><img src="{{ url_for('static', filename='jinzo.jpg' ) }}" alt="..." style="height:200px;"></td>
        <td>Effect Monster</td>
        <td>Machine/Effect</td>
        <td>Dark</td>
    </tr>
	    <tr>
        <td>2</td>
        <td>Blue-Eyes White Dragon</td>
            <td><img src="{{ url_for('static', filename='blue_eyes.jpg') }}" alt="..." style="height:200px;"></td>
        <td>Monster</td>
        <td>Dragon</td>
        <td>Light</td>
    </tr>
	    <tr>
        <td>3</td>
        <td>Kuriboh</td>
            <td><img src="{{ url_for('static', filename='kuriboh.jpg') }}" alt="..." style="height:200px;"></td>
        <td>Effect Monster</td>
        <td>Fiend/Effect</td>
        <td>Dark</td>
    </tr>
</table>
{% endblock %}
