{% extends "skeleton.html" %}
{% block title %}Card Types{% endblock %}
{% block content %}
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th># of Cards In Type</th>
        <th>Image</th>
        <th># of Subtypes</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Normal Monster</td>
        <td>2402</td>
        <td>image</td>
        <td>14</td>
    </tr>
	<tr>
        <td>2</td>
        <td>Effect Monster</td>
        <td>2010</td>
        <td>image</td>
        <td>35</td>
    </tr>
	<tr>
        <td>3</td>
        <td>Spell</td>
        <td>1402</td>
        <td>image</td>
        <td>9</td>
    </tr>
</table>
{% endblock %}
