{% extends "skeleton.html" %}
{% block title %}Cards{% endblock %}
{% block content %}
<table class="table table-hover" id="card_table">
    <thead>
        <tr>
            <th data-sort="int">ID</th>
            <th data-sort="string">Name</th>
            <th data-sort="string">Type</th>
            <th data-sort="string">Subtype</th>
            <th data-sort="string">Family</th>
        </tr>
    </thead>
    <tbody id="card_table_body">

    </tbody>
</table>
<script>
function populate_cards() {
    var result = {{result|safe}};
    var table = document.getElementById("card_table_body");
    var i = 0;

    for (var item in result) {
        var row = document.createElement("tr");
        var cardid = document.createElement("td");
        var cardname = document.createElement("td");
        var type1 = document.createElement("td");
        var subtype = document.createElement("td");
        var family = document.createElement("td");
        var cardlink = document.createElement("a");
        var typelink = document.createElement("a");
        var subtypelink = document.createElement("a");
        var familylink = document.createElement("a");

        cardlink.href = "/cards/"+result[i][0];
        cardname.appendChild(cardlink);
        typelink.href = "/typeTemplate/"+result[i][6];
        type1.appendChild(typelink);
        subtypelink.href = "/subTypeTemplate/"+result[i][1];
        subtype.appendChild(subtypelink);
        familylink.href = "/familyTemplate/"+result[i][2];
        family.appendChild(familylink);

        row.appendChild(cardid);
        row.appendChild(cardname);
        row.appendChild(type1);
        row.appendChild(subtype);
        row.appendChild(family);
        table.appendChild(row);

        cardid.innerHTML = result[i][0];
        cardlink.innerHTML = result[i][4];
        typelink.innerHTML = result[i][6];
        //subtype.innerHTML = result[i][7];
        subtypelink.innerHTML = result[i][7];
        //family.innerHTML = result[i][8];
        familylink.innerHTML = result[i][8];

        i += 1;
    }

    $("#card_table").stupidtable();
}

window.onload = populate_cards;
</script>
{% endblock %}
