{% extends "skeleton.html" %}
{% block title %}Card Types{% endblock %}
{% block content %}
<table class="table table-hover" id="cardtype_table">
    <tr>
        <th>Name</th>
        <th># of Cards In Type</th>
        <th># of Subtypes</th>
    </tr>
</table>

<script>
        var result = {{tlist|safe}};
        var table = document.getElementById("cardtype_table");
        var i = 0;
        for (var item in result) {
            if(i==1 | i==2 | i==7){
                var row = document.createElement("tr");
                var cardname = document.createElement("td");
                var card_in_t = document.createElement("td");
                var num_of_st = document.createElement("td");
                var cardlink= document.createElement("a");
                cardlink.href="typeTemplate/"+result[i][1];
                cardname.appendChild(cardlink);
                row.appendChild(cardname);
                row.appendChild(card_in_t);
                row.appendChild(num_of_st);
                table.appendChild(row);
                cardlink.innerHTML = (result[i][1]).toUpperCase();
                card_in_t.innerHTML = result[i][2];
                num_of_st.innerHTML = result[i][4];
            }
            i+=1;
        }
</script>
{% endblock %}
