{% extends "skeleton.html" %}
{% block title %}Card Types{% endblock %}
{% block content %}
<table class="table table-hover">
    <tr>
        <th>Family Image</th>
        <th>Information</th>
    </tr>
    <tr>
        <td><img src="{{url_for('static', filename='')}}{{family_data[1]}}.png" class="about-image"></td>
        <td>
            <table style="font-family: Rockwell" border="2" width="100%">
                <tr><th>Name: </th><th>{{family_data[1]}}</th></tr>
                <tr><th>Cards in Family: </th><th>{{family_data[2]}}</th></tr>
                <tr><th>Types in Family: </th><td>{{family_data[3]}}</td></tr>
                <tr><th>Average Attack:    </th><th>{{family_data[4]}}</th></tr>
                <tr><th>Average Defence: </th><th>{{family_data[5]}}</th></tr>
            </table>
        </td>
    </tr>
</table>

<table width="700" align="center" border="2", id="fam_table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Type</th>
        <th>Subtype</th>
        <th>Family</th>
    </tr>
</table>

<script>
        var result = {{flist|safe}};
        var table = document.getElementById("fam_table");
        var i = 0;
        for (var item in result) {
            var row = document.createElement("tr");
            var cardid = document.createElement("td");
            var cardname = document.createElement("td");
            var type1 = document.createElement("td");
            var subtype = document.createElement("td");
            var family = document.createElement("td");
            var cardlink= document.createElement("a");
            cardlink.href="/cards/"+result[i][0];
            cardname.appendChild(cardlink);
            row.appendChild(cardid);
            row.appendChild(cardname);
            row.appendChild(type1);
            row.appendChild(subtype);
            row.appendChild(family);
            table.appendChild(row);
            cardid.innerHTML = result[i][0];
            cardlink.innerHTML = result[i][4];
            type1.innerHTML = result[i][6];
            subtype.innerHTML = result[i][7];
            family.innerHTML = result[i][8];
            i+=1;
        }
</script>
{% endblock %}
