{% extends "skeleton.html" %}
{% block title %}Card Types{% endblock %}
{% block content %}
<table class="table table-hover">
    <tr>
        <th>SubType Information:</th>
    </tr>
    <tr>
        <table style="font-family: Rockwell" border="2" width="100%">
            <tr><th>ID: </th><th>{{sub_data[0]}}</th></tr>
            <tr><th>Name: </th><th>{{sub_data[2]}}</th></tr>
            <tr><th>Cards in SubType: </th><th>{{sub_data[3]}}</th></tr>
            <tr><th>Average Price: </th><td>{{sub_data[4]}}</td></tr>
            <tr><th>Card Type: </th><th>{{sub_data[5]}}</th></tr>
        </table>
    </tr>
</table>
<br><br>
<table class="table table-hover" id="sub_table">
    <thead>
        <tr>
            <th data-sort="int">ID</th>
            <th data-sort="string">Name</th>
            <th data-sort="string">Type</th>
            <th data-sort="string">Subtype</th>
            <th data-sort="string">Family</th>
        </tr>
    </thead>
    <tbody id="sub_table_body">

    </tbody>
</table>

<script>
        var result = {{sublist|safe}};
        var table = document.getElementById("sub_table_body");
        var i = 0;
        for (var item in result) {
            var row = document.createElement("tr");
        var cardid = document.createElement("td");
        var cardname = document.createElement("td");
        var type1 = document.createElement("td");
        var subtype = document.createElement("td");
        var family = document.createElement("td");

        var cardlink= document.createElement("a");
        var cardlink1= document.createElement("a");
        var cardlink2= document.createElement("a");
        var cardlink3= document.createElement("a");

        cardlink.href="/cards/"+result[i][0];
        cardlink1.href="/typeTemplate/"+result[i][6];
        cardlink2.href="/subTypeTemplate/"+result[i][1];
        cardlink3.href="/familyTemplate/"+result[i][3];

        cardname.appendChild(cardlink);
        type1.appendChild(cardlink1);
        subtype.appendChild(cardlink2);
        family.appendChild(cardlink3);

        row.appendChild(cardid);
        row.appendChild(cardname);
        row.appendChild(type1);
        row.appendChild(subtype);
        row.appendChild(family);

        table.appendChild(row);
        cardid.innerHTML = result[i][0];
        cardlink.innerHTML = result[i][4];
        cardlink1.innerHTML = result[i][6];
        cardlink2.innerHTML = result[i][7];
        cardlink3.innerHTML = result[i][8];

        i += 1;
        }
</script>
{% endblock %}
