{% extends "skeleton.html" %}
{% block title %}Card Types{% endblock %}
{% block content %}
<table class="table table-hover">
    <tr>
        <th>SubType Information:</th>
    </tr>
    <tr>
        <table style="font-family: Rockwell" border="2" width="100%">
            <tr><th>Name: </th><th>hello</th></tr>
            <tr><th>Cards in SubType: </th><th>hello</th></tr>
            <tr><th>Average Price: </th><td>hello</td></tr>
            <tr><th>Card Type: </th><th>hello</th></tr>
        </table>
    </tr>
</table>
<br><br>
<table width="700" align="center" border="2">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Card Type</th>
    </tr>
    <tr>
        <td>enter id</td>
        <td>enter name</td>
        <td>enter type</td>
    </tr>
</table>
{% endblock %}
