{% extends "skeleton.html" %}
{% block title %}Subtypes{% endblock %}
{% block content %}
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th># of Cards in Subtype</th>
        <th>Avg. Price of Subtype</th>
        <th>Card Type</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Beast/Effect</td>
        <td>92</td>
        <td>1.2</td>
        <td>Effect Monster</td>
    </tr>
	<tr>
        <td>2</td>
        <td>Magician/Effect</td>
        <td>46</td>
        <td>2.4</td>
        <td>Effect Monster</td>
    </tr>
	<tr>
        <td>3</td>
        <td>Quick Spell</td>
        <td>34</td>
        <td>1.5</td>
        <td>Spell</td>
    </tr>
</table>
{% endblock %}
